---
import {JSX} from "astro/jsx-runtime";
import TagTooltip from "./ui/TagTooltip.astro";

interface props {
    title: string
    description: string
    image: string
    background: string
    webSiteURL?: string,
    codeURL?: string,
    tags: Array<{
        name: string;
        Icon: JSX.Element
    }>
}

const {title, description, image, background, webSiteURL, codeURL, tags} = Astro.props;
---

<article class="grid gap-4 sm:gap-7 md:grid-cols-2 group">
    <a href={webSiteURL} target="_blank" rel="noreferrer">
        <div
                class="w-[350px] h-[226px] bg-gray-700/50 bg-cover bg-center relative rounded-xl overflow-hidden"
                style={`background-image: url(${background});`}>
            <img
                    class="absolute rounded-lg duration-500 ease transition-transform translate-x-9 translate-y-9 group-hover:translate-x-7 group-hover:translate-y-7"
                    src={image}
                    alt={`Captura de pantalla del proyecto ${image}`}
                    style="max-width: 100%; max-height: 100%;"
            />
        </div>
    </a>
    <div class="flex flex-col gap-2.5 justify-center">
        <h3 class="font-bold text-xl text-[#8BD49C]">{title}</h3>
        <p class="text-xs md:text-sm lg:text-base text-gray-400 text-pretty">{description}</p>
        <ul class="flex gap-2 items-center mb-1">
            {tags.map(({name, Icon}) => (
                    <TagTooltip name={name}>
                        <Icon class="size-6"/>
                    </TagTooltip>
            ))}
        </ul>
    </div>
</article>